// rem
$rem05:0.5rem;
$rem07:0.7rem;
$rem08:0.8rem;
$rem09:0.9rem;
$rem1:1rem;
$rem12:1.2rem;
$rem15:1.5rem;
$rem18:1.8rem;
$rem2:2rem;
$rem25:2.5rem;
$rem27:2.7rem;
$rem3:3rem;
$rem4:4rem;
$rem5:5rem;
$rem6:6rem;
$rem7:7rem;
$rem8:8rem;
$rem9:9rem;
$rem010:10rem;
// color
$orange:#f25a06;
$black:#000;