@use'../variables' as*;
header{
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $rem2 0;
        .logo{
            display: flex;
            align-items: center;
            gap: $rem07;
        }
        .logo_flex_text{
            display: flex;
            flex-direction: column;
            h1{
                font-size: $rem15;
                color: $orange;
                margin-bottom: 3px;
            }
            p{
                font-size: 13px;
                font-weight: 600;
            }
            }
            .nav_menu ul{
                display: flex;
                gap: $rem25;
                li{
                    list-style: none;
                }
                a{
                    text-decoration: none;
                    color: $black;
                    font-weight: 500;
                }
            }
            .nav_button{
                a{
                    text-decoration: none;
                    color: $black;
                }
                button{
                    padding: $rem05 $rem15;
                    margin-left: $rem1;
                    background-color: transparent;
                    border-radius: 30px;
                    border: 2px solid $black;
                    font-weight: 600;
                }
            }
    }
}