@use'../variables' as*;

.hau {
    text-align: center;
    margin-top: $rem6;

    h1 {
        font-size: $rem2;
    }
}

.hau_box {
    display: flex;
    justify-content: space-around;

    .hau_text {
        .hou_box1 {
            text-align: start;
            padding: 20px 30px;
            align-items: center;
            border: 2px dashed #9f9f9f;
            border-radius: 12px;
            margin-top: 2rem;
            overflow: hidden;
            transition: all 0.6s ease;

            h3 {
                font-size: 23px;
                margin-bottom: $rem1;
            }

            p {
                font-size: 18px;
            }

            &:hover {
                background-color: #fff;
                border: none;
                box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
            }
        }
    }
}

@media screen and (max-width:600px) {

    .hau {
        text-align: center;
        margin-top: $rem6;

        h1 {
            font-size: $rem15;
        }
    }

    .hau_box {
        display: flex;
        flex-direction: column;

        .hau_text {
            .hou_box1 {
                text-align: start;
                padding: 20px 30px;
                align-items: center;
                border: 2px dashed #9f9f9f;
                border-radius: 12px;
                margin-top: 2rem;
                overflow: hidden;
                transition: all 0.3s ease;
                width: 96%;
                margin-left: 0.5rem;

                h3 {
                    font-size: 18px;
                    margin-bottom: $rem1;
                }

                p {
                    font-size: 14px;
                }

                &:hover {
                    background-color: #fff;
                    border: 2px dashed #9f9f9f00;
                    box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
                }
            }
        }
        img{
            display: none;
        }
    }
}